*{margin: 0; padding: 0}
*, *::before, *::after{box-sizing: border-box}
a{  text-decoration: none;}
ol, ul{ list-style: none}
html{font-size: 16px;}
body{
    padding: 20px;
    display: flex;
    width: 100vw;
    height: 100vh;
}
aside.page{
    width: 10vw;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
aside.page > ul,
aside.page > span{
    width: 100%;
   border: 1px solid black;
   text-align: center;
}
aside.page > ul > li{
    
}

main{
    border: 1px solid blue;
    flex-grow: 1;
}
