*{margin: 0; padding: 0}
*, *::before, *::after{box-sizing: border-box}
a{  text-decoration: none;}
ol, ul{ list-style: none}
html{font-size: 18px;}
button{font: inherit;}
div[v-cloak] {display: none;}

/*fonticon的引用样式*/
.icon {
  width: 20px; height: 20px;
  vertical-align: -0.15em;
  fill: #6382A9;
  overflow: hidden; 
}

.page{
    min-width: 500px;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.page > main{
    flex-grow: 1;
    overflow: auto;
    background-color: #D5DAE6;
}

.page > main > .topBar {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #364760;
    z-index: 99;
}


